[submodule "os-updater"]
	path = apps/os-updater/source
	url = https://github.com/oxygen-updater/os-updater
	branch = master
	shallow = true
[submodule "materialfiles"]
	path = apps/materialfiles/source
	url = https://github.com/zhanghai/MaterialFiles
	branch = master
	shallow = true
[submodule "telegram"]
	path = apps/telegram/source
	url = https://github.com/DrKLO/Telegram
	branch = master
	shallow = true
